Package: bashrc-script-custom
Version: 1.0-1
Architecture: all
Maintainer: Moon <gaelrothlin@gmail.com>
Installed-Size: 43
Depends: bash
Section: utils
Priority: optional
Homepage: https://github.com/moonlight58/bashrc-script-custom
Description: Custom bashrc script installer
 A small script that installs custom bashrc scripts into your environment.
