Source: bashrc-script-custom
Section: utils
Priority: optional
Maintainer: Moon <gaelrothlin@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/moonlight58/bashrc-script-custom

Package: bashrc-script-custom
Architecture: all
Depends: ${misc:Depends}, bash
Description: Custom bashrc script installer
 A small script that installs custom bashrc scripts into your environment.
